.metalApp_contentpane {
  display:flex;
  flex-direction:column;
}

.metalApp_contentarea {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background-color: red;
}

.metalApp_contentframe {
  border: none;
}

.metalApp_headerActions {
  display: flex;
}

.metalApp_tabs {
  flex-shrink: 0;
  display: flex;
  height: 27px;
  border-bottom: 1px solid #a5a5a5;

  background-image: linear-gradient(
    to bottom,
    #bcbcbc 0%,
    #c8c8c8 100%
  );

  text-shadow: 0 1px rgba(255, 255, 255, .23);
}

.metalApp_tabs-newTabBtn,
.metalApp_tabs-closeTabBtn {
  border: 0;
  padding: 1px 10px 0;
  background-color: transparent;
}

.metalApp_tabs-closeTabBtn:disabled {
  display: none;
}

.metalApp_tabs-tabList {
  display: flex;
}

.metalApp_tabs-tab {
  display: flex;
  width: 182px;
  border-left: 1px solid #afafaf;
  padding-right: 13px;
  padding-top: 1px;
}

.metalApp_tabs-tab--only-tab {
  padding-right: 0;
}

.metalApp_tabs-tab:first-child,
.metalApp_tabs-tab--active + .metalApp_tabs-tab {
  border-left: 0;
}

.metalApp_tabs-tab--inactive:last-child {
  border-right: 1px solid #afafaf;
}

.metalApp_tabs-tab--active {
  border-left: 1px solid #989698;
  border-right: 1px solid #989698;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .23);

  background-image: linear-gradient(
    to bottom,
    #c8c8c8 0%,
    #bcbcbc 100%
  );
}

.metalApp_tabs-tabName {
  flex-grow: 1;
  padding: 0 6px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}