.windowManager {
  position: relative;
  flex-grow: 1;
}

.window--glass {
  background-color: rgba(255, 255, 255, 0.1);
}

.window--maximized {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.window--floating {
  left: 60px;
  top: 50px;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #bebebe;
  border-radius: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
