.windowManager {
  position: relative;
  flex-grow: 1;
}

.window {
  overflow: hidden;
}

.window--glass {
  background-color: rgba(255, 255, 255, 0.1);
}

.window--zoomed {
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-top: 1px solid #9d9d9d;
  transform: none !important;
}

.window--floating {
  left: 60px;
  top: 50px;
  width: 500px;
  height: 300px;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.window-stdHeader {
  display: flex;
  align-items: stretch;
}

.window-stdHeaderLeftBox,
.window-stdHeaderRightBox {
  display: flex;
  align-items: center;
}

.window-stdHeaderLeftBox {
  flex-grow: 1;
}

.window-stdHeaderBtn {
  transform: translateY(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.window-stdHeaderBtn--close {
  margin-left: 14px;
  margin-right: 12px;
}

.window-stdHeaderBtn--zoom {
  margin-left: 12px;
  margin-right: 14px;
}

.window-stdHeaderContentBox {
  flex-grow: 1;
}

.window-stdTitle {
  min-height: 19px;
}

.window-iframe {
  height: 100%;
  border: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
