.termApp_outerContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #263342;
}

.termApp .xterm .xterm-viewport {
  overflow: hidden;
  background-color: transparent !important;
}
